# Python/Django
__pycache__/
*.sqlite3
.env

# Flutter
.dart_tool/
build/
.pub-cache/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# IDEs/OS
.idea/
.vscode/
.DS_Store


# Media and User Uploads
isl_backend/media/

# FAISS Vector Database Files
isl_backend/faiss_index/*.faiss
isl_backend/faiss_index/*.pkl
isl_backend/faiss_index/sync_timestamp.txt